--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.0
torchvision==0.15.0
torchmetrics==0.10.3
transformers==4.49.0
omegaconf
fvcore
iopath
tqdm==4.67.1
xformers==0.0.18
submitit
--extra-index-url https://pypi.nvidia.com
cuml-cu11
